<h1>Order Confirmation</h1>

<p>Hi <%= @order.customer_name %>,</p>

<p>Your order #<%= @order.id %> has been placed.</p>

<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
  </tr>
  <% @order.order_items.each do |item| %>
    <tr>
      <td><%= item.product.name %></td>
      <td><%= item.quantity %></td>
    </tr>
  <% end %>
</table>

<p>Thank you for your order!</p>
